* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: 100%;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section {
    background-color: #f3c482;
}

.right-section {
    background-color: #c5a674;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

button {
    background-color: #805e00d2;
    color: rgb(244, 244, 244);
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #653d05;
}
