* {* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Calibri, sans-serif;
}

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    background: rgb(94, 52, 0);
    padding: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navdiv ul {
    list-style: none;
    display: flex;
}

.navdiv li {
    margin-right: 25px;
}

.navdiv a {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
body {
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(215, 194, 168);
    background-image: url('background.jpg');
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
}

.login-container {
    background: rgb(255, 228, 193);
    margin-top: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #409a56;
    color: rgb(247, 243, 243);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#error-message {
    color: red;
    margin-top: 10px;
}
