/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    
}


/* Main Content */
.main-content {
    padding: 20px;
    text-align: center;
    background-image: url('background.jpg');
    background-size: 100%;
}

h1 {
    margin-bottom: 20px;
}

/* Button Styles */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-button {
    background-color: rgb(240, 215, 172);
    color: rgb(25, 22, 22);
    padding: 10px 20px;
    margin: 5px 0;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.chapter-button:hover {
    background-color: #b99501;
}
